{% extends "base.html" %}

{% block title %}
  QUIZO | User
{% endblock %}

{% block body %}
<div style="font-size: 50px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
   Welcome {{var}}
</div>
<hr>
Welcome to our quiz site! Here, you'll find a wide variety of quizzes on all sorts of topics, from history and science to pop culture and more. Whether you're looking to test your own knowledge or just have a bit of fun, we've got something for everyone.

So go ahead, take a look around and see what catches your eye. And don't forget to challenge your friends and family to beat your scores! Good luck, and happy quizzing!
{% endblock %}


{% block navbar%}
<li class="nav-item">
    <a href="/quizstrt" class="nav-link">
<!--<i class="nav-icon fas fa-tachometer-alt"></i> -->
      <p>
        Take Quiz
      </p>
    </a>
  </li>
  <li class="nav-item">
    <a href="/show" class="nav-link">
      <p>
        Check Results
      </p>
    </a>
  </li>
<li class="nav-item">
    <a href="/logout" class="nav-link">
      <p>
        Logout
      </p>
    </a>
  </li>
{% endblock %}
